# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Debug and Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Metro
.metro-health-check*

# Keystores & Signing Files
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.cer

# React Native / iOS
ios/Pods/
ios/build/
ios/Index/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# React Native / Android
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/.cxx/
*.iml
.idea/
.gradle/

# Ignore everything inside android/app/build EXCEPT the apk outputs
android/app/build/*
!android/app/build/outputs/
android/app/build/outputs/*
!android/app/build/outputs/apk/

# Global APK exception (just in case they are copied elsewhere)
!*.apk
